
<div id='slide-1' class='parallax-container banner'>
    	<div class='header'>
    		<h2>ALLAN PAOLO UY</h2>
    		<h3>[ FULL STACK WEB DEVELOPER ]</h3>
    		<p>
	        	<a href="#"><i class="fa fa-twitter fa-2x menu-icon"></i></a>
		        	<a target="_blank" href="https://github.com/uypao"><i class="fa fa-github fa-2x menu-icon"></i></a>
	        	<a target="_blank" href="https://ph.linkedin.com/in/allan-paolo-uy-45920393"><i class="fa fa-linkedin-square fa-2x menu-icon"></i></a>
	        </p>
    	</div>
</div>

<section id='about'>
  <div class="container">
    <div class='header'>
    	<h2>About</h2>
    </div>

    <p>Lorem ipsum dolor sit amet mei at legimus nonumes, integre saperet complectitur quo id. Libris efficiendi sea ut. Facer commodo disputando an mel, omittam deleniti nec te, in pro assum everti. Ex civibus honestatis mel, cibo viderer consequuntur vis at, ad eos postea probatus perfecto.</p>


    <p>Lorem ipsum dolor sit amet, no nam saepe omittam. Vix no iuvaret fastidii, an ludus mandamus voluptatum eam, timeam tritani diceret pri ea. Congue verear vix ei, ne alii eloquentiam has, an his alii atqui antiopam. Ignota causae officiis an mea, ea labore reprehendunt pro. Cu eius fabellas vituperata mei, pri no labore everti adversarium, at sit appareat tacimates partiendo. Vim eu clita epicurei rationibus, nec ut saepe possim efficiendi, facer assum hendrerit vis ea. Tractatos constituto usu ut.

	Omnes persius vim an. Justo possim fastidii sea cu, cum cu utroque epicurei, meis mutat ex sea. Vel no rebum urbanitas, labores adolescens ut has, eum at modo veniam scaevola. Ea partem facilis his. Dolore qualisque iracundia ne sed. Ea ius amet quaestio platonem, semper insolens voluptaria pro ne, ne ius mucius consulatu. Nulla nusquam mandamus usu et, mazim facilis interpretaris usu ad, et nostrud electram pro.

	Cum rebum iusto moderatius cu, id eripuit appellantur qui, nam ad eius labitur detraxit. Ad stet saepe pri. Patrioque liberavisse nam in, eam unum qualisque cu, consul corrumpit per at. Ei mea quaestio sadipscing, nobis decore ceteros et per.

	Nec sanctus ceteros salutatus ex, cum te vidisse noluisse. Sit in affert option voluptatibus, persius dolorem et vel, habeo iudico facilisi et eam. Ne probo vocent impetus quo, homero constituam eloquentiam ei sed. Est ex erat nobis corpora, wisi omnium dolorum nam an, wisi tota tibique ea mei. Vix et hinc fierent invidunt, purto persius mentitum in nam. Pro te viderer diceret, noster forensibus vis ex.
	</p>	
  </div>
</section>

<section id='work'>
	<div class="container">
		<div class='header'>
    	<h2>Story</h2>
    	</div>
	    <ul class="timeline">
	         <li>
	          <img class='timeline-img' src='../img/adu.png'>
	          <a target="_blank" href='http://www.adamson.edu.ph/' class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Adamson University</h4>
	              <p><small class="text-muted">2009 - 2013</small></p>
	            </div>
	            <div class="timeline-body">
	              <p>Lorem ipsum dolor sit amet mei at legimus nonumes, integre saperet complectitur quo id. Libris efficiendi sea ut. Facer commodo disputando an mel, omittam deleniti nec te, in pro assum everti. Ex civibus honestatis mel.</p>
	            </div>
	          </a>
	        </li>

	        <li class="timeline-inverted">
	          <img class='timeline-img' src='../img/cb.png'>
	          <a target="_blank" href='http://www.connectedbusiness.com/' class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Connected Business</h4>
	              <p><small class="text-muted">2013 - 2016</small></p>
	            </div>
	            <div class="timeline-body">
	              <p>Lorem ipsum dolor sit amet mei at legimus nonumes, integre saperet complectitur quo id. Libris efficiendi sea ut. Facer commodo disputando an mel, omittam deleniti nec te, in pro assum everti. Ex civibus honestatis mel. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
	            </div>
	          </a>
	        </li>
	        
	        <li>
	          <div class="timeline-badge info"><i class="fa fa-code"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Spiralworks Technologies Inc</h4>
	              <p><small class="text-muted">2016 - Present</small></p>
	            </div>
	            <div class="timeline-body">
	              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis.</p>
	            </div>
	          </div>
	        </li>

	    </ul>
   
	</div>
</section>

<div id='slide-2' class="parallax-container">
	<div class='overview container'>
	<h1>WHAT I CAN DO</h1>
	<h4> Vix et hinc fierent invidunt, purto persius mentitum in nam. Pro te viderer diceret, noster forensibus vis ex</h4>
	<div class='row'>
		<div class='col-md-4 col-sm-6 col-xs-6 '>
    		<div class='circle'>
    			<i class="fa fa-code fa-4x overview-icon"></i>
    		</div>
    		<h3>FRONT-END DEVELOPMENT</h3>
		</div>
		<div class='col-md-4 col-sm-6 col-xs-6'>
    		<div class='circle' >
    			<i class="fa fa-database fa-4x overview-icon"></i>
    		</div>	
    		<h3>BACK-END DEVELOPMENT</h3>
		</div>	
		<div class='col-md-4 col-sm-6 col-xs-6'>
    		<div class='circle'>
    			<i class="fa fa-refresh fa-4x overview-icon"></i>
    		</div>
    		<h3>DEV OPS AND AUTOMATION</h3>
		</div>
		<!-- <div class='col-md-4 col-sm-6 col-xs-6'>
    		<div class='circle'>
    			<i class="fa fa-rocket fa-4x overview-icon"></i>
    		</div>	
    		<h3>SCALABILITY CONSULT</h3>
		</div>	 -->    		
	</div>
	</div>
</div>

	<section id='skills' ng-controller='skillsCtrl as skills'>
 	<div class="container">
        <!-- <i class="fa fa-pencil fa-3x"></i> -->
        <div class='header'>
        	<h2>Skills</h2>
        </div>	
    	<div class='skillset' ng-repeat='skls in skills.skills'>

    		<div class="progress">
			     <div class="progress-bar" role="progressbar" ng-style="{'width': skls.percentage + '%'}">
					<h4>{{skls.technology}}</h4>
				 </div>				  
			</div>

		</div>
    </div>       
</section>

<section id='contact'>
	<div class="container">    		
		 <!-- <i class="fa fa-phone fa-3x"></i> -->
		 <div class='header'>
		 	<h2>Contact</h2>
		 </div>	
		 <div class='row'>	    		 
    		 <div class='col-md-6'>  
    		 <h3>Let's get in touch</h3>  		 	
    		 	<h4>Got a question? Want to talk about a project? Send me a message.</h4>
    		 	<div class='contact-info'>	    		 		
    		 	</div>
    		 	<!-- HOME -->
    		 	<p><span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-home fa-stack-1x"></i>
				</span>
				<span style="font-size: 18px; margin: 0">Makati City, Philippines</span>
				</p>
				<!-- MOBILE -->
    		 	<p><span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-mobile fa-stack-1x"></i>
				</span>
				<span style="font-size: 18px; margin: 0">+63 917 814 6438</span>
				</p>
				<!-- ENVELOPE -->
				<p><span class="fa-stack fa-lg">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-envelope-o fa-stack-1x"></i>
				</span>
				<span style="font-size: 18px; margin: 0">uypaodg@gmail.com</span>
				</p>
    		 </div>
    		 <form ng-controller='mainCtrl as main' ng-submit='main.sendMessage()'>
	    		 <div class='col-md-4'>
	    		 	<input type="text" placeholder="Name" ng-model='main.messages.name' required></input>
	    		 	<input type="text" placeholder="Email Address" ng-model='main.messages.email' required></input>
	    		 	<textarea  placeholder="Message" ng-model='main.messages.message' required></textarea>
	    		 	<button class='btn btn-default' type='submit'>Submit</button>
	    		 	<label>{{main.sendMsg}}</label>
	    		 	<label style="color: #F00;">{{main.emailMsg}}</label>
	    		 </div>
    		 </form>
		 </div>
	</div>	    
</section>

<!-- FOOTER -->
<section id='page-footer'>
    <div class="footer text-muted">
    	<h4>uypao.ph - uypaodg@gmail.com ©2016</h4>
    </div>	
</section>



<a href="#" class='back-to-top'>
	<i class='fa fa-chevron-up'></i>
</a>

